h2{
    position: relative;
    right: -30em;
    top: -43px
}

 ul{
    list-style-type: none;
    display: flex;
    position: relative;
    top: -2em;
    border: black 1px solid;
    margin-right: 30em;
    padding-left: 80px;
}

ul li{
    
    margin-right: 4em;
}