
.region{
    position: relative;
    right: -68em;
    top: -  121px;
}


 ul{
    list-style-type: none;
    display: flex;
    position: relative;
    left: 2em;
}

 ul li{
    margin-right: 4em;
}

img{
    width: 10em;
}

